<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: flex;
        flex-direction: row;
      }
      .left {
        width: 200px;
        height: 100vh;
        overflow: scroll;
        background-color: aqua;
      }

      .right {
        height: 1500px; /*用于测试滚动*/
        width: calc(100vw - 200px);
        min-height: 100vh;
        background-color: burlywood;
      }
    </style>
  </head>
  <body class="container">
    <aside class="left">left</aside>
    <section class="right">right</section>
  </body>
</html>
